.FlexContainer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  align-content: center;
  width: 80%;
  height: 80vh;

  flex-direction: column;
}

.FlexContainer div {
  width: 100%;
  height: 100%;
  /* margin: 20px; */
}

.FlexContainer-2 {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  width: 100%;
  height: 80vh;
  flex-direction: row;
}

.FlexContainer-3 {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  width: 100%;
  height: 80vh;
  flex-direction: row;
}

.FlexContainer-3 button {
  background: #0c0c0c;
  /* background-image: -webkit-linear-gradient(top, #3d94f6, #1e62d0);
  background-image: -moz-linear-gradient(top, #3d94f6, #1e62d0);
  background-image: -ms-linear-gradient(top, #3d94f6, #1e62d0);
  background-image: -o-linear-gradient(top, #3d94f6, #1e62d0);
  background-image: -webkit-gradient(to bottom, #3d94f6, #1e62d0); */
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  height: 0;
  line-height: 0;
  color: #ffffff;
  font-family: Times New Roman;
  width: 187px;
  font-size: 46px;
  font-weight: 500;
  padding: 28px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.FlexContainer-3 button:hover {
  border: solid #337fed 1px;
  background: #2f2f30;
  /* background-image: -webkit-linear-gradient(top, #1e62d0, #3d94f6);
  background-image: -moz-linear-gradient(top, #1e62d0, #3d94f6);
  background-image: -ms-linear-gradient(top, #1e62d0, #3d94f6);
  background-image: -o-linear-gradient(top, #1e62d0, #3d94f6);
  background-image: -webkit-gradient(to bottom, #1e62d0, #3d94f6); */
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}
